html {
  background-color: #f8f8f8;
}

a {
  color: #fff;
}

nav {
  background-color: #f8f8f8;
  color: #003;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #033;
}

nav, a:hover {
  background-color: #f8f8f8;
  color: #033;
}

.nav-item {
  background-color: #366;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: 110% auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 28em;
  text-align: center;
  vertical-align: middle;
  min-width: 100%;
}

nav, ul {
  min-width: 90%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #033;
}

.banner h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.2;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #033;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #033;
}

main {
  max-width: 90%;
  margin: auto;
  background-color: #fff;
}

footer {
  background-color: #366;
  font-family: Arial, Helvetica, sans-serif;
}

.rescue-btn {
  color: #366;
  background-color: transparent;
  border: 2px solid #366;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
}

.btn:hover {
  background: rgba(248, 248, 248, .2);
  border: 1px solid #fff;
  border-radius: 6px;
}

.rescue-btn:hover {
  color: #366;
  background: rgba(248, 248, 248, 1);
  border: 2px solid #366;
  border-radius: 6px;
}

.news {
  border-right: 3px dashed #366;
}

.rescues {
  border: 1px solid #f8f8f8;
}

.rescues:hover {
  background: #f8f8f8;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: #366;
}

@media only screen and (min-width: 25em) {

  .news {
    border-right: 3px dashed #fff;
  }

}

@media only screen and (min-width: 38em) {

  .news {
    border-right: 3px dashed #fff;
  }

}

@media only screen and (min-width: 60em) {

  .news {
    border-right: 3px dashed #366;
  }

}
